In [11]:
import numpy as np
import os
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [54]:
gdp_df = pd.read_csv('/Users/karthickrajamani/Desktop/linreg.csv')
gdp_df.head(5)

               Country  GDP_per_capita  life_satisfaction
0          Afghanistan     1739.583177           4.220169
1              Albania    11424.628320           4.511101
2              Algeria    13974.666220           5.388171
3               Angola     6024.726138                NaN
4  Antigua and Barbuda    20777.613080                NaN

In [55]:
gdp_df = gdp_df.dropna()
#X=gdp_df["GDP_per_capita"]
#Y=gdp_df["life_satisfaction"]
gdp_df["Avg_Salary"] = gdp_df["GDP_per_capita"]
gdp_df["gdp_log"] = np.log(gdp_df["GDP_per_capita"])
gdp_df["gdp_log1"] = np.log(gdp_df["Avg_Salary"])
gdp_df = gdp_df[['gdp_log', 'gdp_log1', 'life_satisfaction']]
#X = gdp_df["gdp_log"].values.reshape(gdp_df["gdp_log"].shape[0],1)
#Z = gdp_df["gdp_log1"].values.reshape(gdp_df["gdp_log1"].shape[0],1)
X = gdp_df.drop(['life_satisfaction'], axis=1)
y = gdp_df['life_satisfaction']
lin_reg_model.fit(X,y)
print("Coeficients are : {0}".format(lin_reg_model.coef_))
print("Intercept is : {0}".format(lin_reg_model.intercept_))

Coeficients are : [0.38718585 0.38718585]
Intercept is : -1.7361291753419819